@import '../abstract/variables';

.container-principal{
    width:350px;
    height:400px;
    background-color: white;
    border-radius:10px 10px 0 0;
    display:flex;
    flex-flow:column nowrap; 

    .adicionar-atividades{
        display:flex;
        align-items: center;
        justify-content: center;
        gap:1rem;
        width:100%;
        height:75px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px 10px 0 0;
        margin-bottom: 1.5rem;

        .adicionar-tarefa{
            width:215px;
            height:35px;
            border:2px solid #2e88ee;
            border-radius:5px;
            text-indent: 1rem;
        }

        .adicionar-atividade{
            width:75px;
            height:38px;
            border:none;
            background-color: #3e8ce6;
            border-radius:2.5px;
            color:white;
            font-weight:600;
        }
    }

    .atividades{
        display: flex;
        justify-content: center;
        border-top:2px solid $cor-principal;
        height:301px;
        width:100%;
        overflow: auto;
        
        ul{
            display:flex;
            flex-flow:column nowrap;

            li{
                display:flex;
                flex-flow:row nowrap;
                width:350px;
                height:30px;
                align-items: center;
                justify-content: space-between;
                text-indent: 1.75rem;
                background-color: $cor-secundaria;                
                .deletar{
                    margin:0 .25rem 0 0;
                    border:none;
                    background-color: $cor-secundaria;
                    font-weight: 600;
                    color:$cor-quintenaria;
                    cursor: pointer;
                }
            }


            li.checked::before{
                content: '';
                position: absolute;
                border-color: #fff;
                border-style: solid;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                height: 15px;
                width: 7px;
                margin:0 0 0 0.5rem;
            }

            li.checked {
                background: #888;
                color: #fff;
                .deletar{
                    background: #888;
                }
            }
        }
    }


}