// Fonte usada no código
 $fonte-principal: 'Arial';

 //Cores uadas no código
 $cor-principal: #1C5D99;
 $cor-secundaria: #B8DBD9;
 $cor-terciaria: #D9CAB3;
 $cor-quartenaria: #000F08;
 $cor-quintenaria: #136F63;

 $cor-gradiente: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);